<meta charset="utf-8">

<mat-form-field class="apartamento">
  <input id="txt-bloco" matInput placeholder="Bloco:" type="text" />
</mat-form-field>

<mat-form-field class="apartamento">
  <input id="txt-torre" matInput placeholder="Torre:" type="text" />
</mat-form-field>

<mat-form-field class="apartamento">
  <input id="txt-andar" matInput placeholder="Andar:" type="text" />
</mat-form-field>

<mat-form-field class="apartamento">
  <input id="txt-ap" matInput placeholder="Apartamento:" type="text" />
</mat-form-field>

<mat-checkbox [(ngModel)]="salaoFesta">A decoração será montada no salão de festas.</mat-checkbox><br />