<meta charset="utf-8">

<h1>Dados Pessoais</h1>

<mat-form-field class="nomeCompleto">
  <input id="txt-nome" matInput placeholder="Nome completo" />
</mat-form-field><br />

<mat-form-field>
  <mat-label>Estado civil</mat-label>
  <mat-select id="slc-estado-civil">
    <mat-option *ngFor="let estCivil of estadoCivil" [value]="estCivil.codEstadoCivil"> {{ estCivil.descEstadoCivil }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="nacionalidade-profissao">
  <input id="txt-nacionalidade" matInput placeholder="Nacionalidade" value="Brasileira" />
</mat-form-field>

<mat-form-field class="nacionalidade-profissao">
  <input id="txt-profissao" matInput placeholder="Profissão" />
</mat-form-field><br />

<mat-form-field class="rg-cpf">
  <input id="txt-rg" matInput placeholder="RG:" type="text" />
</mat-form-field>

<mat-form-field class="rg-cpf">
  <input id="txt=cpf" matInput placeholder="CPF:" type="Text" />
</mat-form-field>