<meta charset="utf-8">

<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title>Dados Pessoais</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="nomeCompleto">
    <input id="txt-nome" matInput placeholder="Nome completo" />
  </mat-form-field><br />

  <mat-form-field>
    <mat-label>Estado civil</mat-label>
    <mat-select id="slc-estado-civil">
      <mat-option *ngFor="let estCivil of estadoCivil" [value]="estCivil.codEstadoCivil"> {{ estCivil.descEstadoCivil }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input id="txt-nacionalidade" class="tamanho40" matInput placeholder="Nacionalidade" />
  </mat-form-field>

  <mat-form-field>
    <input id="txt-profissao" class="tamanho40" matInput placeholder="Profissão" />
  </mat-form-field><br />

  <mat-form-field>
    <input id="txt-rg" matInput placeholder="RG:" type="text" />
  </mat-form-field>

  <mat-form-field>
    <input id="txt=cpf" matInput placeholder="CPF:" type="Text" />
  </mat-form-field>

</mat-expansion-panel>