<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Dados de Contato</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="linhaFormTresCampos">
    <input matInput placeholder="WhatsApp:" type="tel" />
  </mat-form-field>

  <mat-form-field class="linhaFormTresCampos">
    <input matInput placeholder="Celular:" type="tel" />
  </mat-form-field>

  <mat-form-field class="linhaFormTresCampos">
    <input matInput placeholder="E-mail:" type="email" />
  </mat-form-field>
</mat-expansion-panel>