<meta charset="utf-8">

<h1>Endereço</h1>

  <form [formGroup]="end">
    <mat-form-field class="cep_cidade_bairro">
      <input formControlName="cep" id="txt-cep" matInput placeholder="CEP:" type="text" maxlength="9" mask="00000-000" />
    </mat-form-field>

    <mat-form-field class="cep_cidade_bairro">
      <input formControlName="cidade" id="txt-cidade" matInput placeholder="Cidade:" type="text" maxlength="30"/>
    </mat-form-field>

    <mat-form-field class="cep_cidade_bairro">
      <input formControlName="bairro" id="txt-bairro" matInput placeholder="Bairro:" type="text" maxlength="30"/>
    </mat-form-field>
    <br />

    <mat-form-field class="logradouro_referencia">
      <input formControlName="logradouro" id="txt-logradouro" matInput placeholder="Logradouro:" type="text" maxlength="50"/>
    </mat-form-field>

    <mat-form-field class="numero">
      <input formControlName="numero" id="txt-numero" matInput placeholder="Número:" type="text" maxlength="10"/>
    </mat-form-field>
    <br />

    <mat-form-field class="logradouro_referencia">
      <input formControlName="pontoReferencia" id="txt-pontoReferencia" matInput placeholder="Ponto de referência:" type="text"
      maxlength="150"/>
    </mat-form-field>
    <br />
   
    <mat-checkbox (change)="apartamento($event)">Apartamento:</mat-checkbox>
    <br />
    
    <app-form-end-apartamento *ngIf="ap"></app-form-end-apartamento>
   
    <button mat-button type="submit" (click)="onSubmit(end)">Submit</button>

  </form>
  {{ end?.value | json }} and {{ end?.valid }}